<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>title</title>
    <style>
        
    </style>
</head>

<body>
     <form method="POST">{% csrf_token %}
          <div class="form-group">
               <label for="exampleInputEmail1">Email address</label>
               <input type="email" class="form-control" name='email' id="exampleInputEmail1" aria-describedby="emailHelp">
               <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
               <label for="exampleInputPassword1">Name</label>
               <input type="text" class="form-control" name='Name' id="exampleInputPassword1">
          </div>
          <div class="form-group">
               <label for="exampleInputPassword1">Name2</label>
               <input type="text" class="form-control" name='Name2' id="exampleInputPassword1">
          </div>
          <div class="form-group">
               <label for="exampleSelectMultiple">Example label</label>
               <select class="custom-select" name = 'select' id="exampleSelectMultiple">
                    <option>cv</option>
                    <option>cv2</option>
                    <option>cv3</option>
               </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
     </form>

     
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
     integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
     crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
     integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
     crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
     integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
     crossorigin="anonymous"></script>
</html>